

/*make it cross-browser friendly and padding-friendly*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html{
  background-color: white;
  color: #555555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.body{
  height: 100%;
}

.row {
  max-width: 1140px;
  margin: 0 auto; /*center row*/
}

.test{
  height: 100%;
  position: absolute;
  right: 0;
  width: 20%;
}
